<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/main.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


  </head>

  <body>
  <!--Navbar-->
  <nav class="navbar navbar-default" style="background-color: #9D2F35">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="https://aholdeman.github.io/test-site/" style="color:white;"><strong>Research Computing</strong></a>
          </div>
      </div>
  </nav>
  <div class="container">
      <div class="row">
          <div class="col col-md-3">
              <nav id="sidebar">
                  <div class="sidebar-header">
                      <h3 style="color:white;">Research Computing</h3>
                  </div>
                  <ul class="list-unstyled components">
                      <li class="active">
                          <a href="https://aholdeman.github.io/test-site/">
                              <i></i>
                              Home
                          </a>
                      </li>
                      <li>
                          <a href="https://aholdeman.github.io/test-site/about" style="color:white;">
                              <i></i>
                              About
                          </a>
                          <a href="https://aholdeman.github.io/test-site/applications" style="color:white;">
                              <i></i>
                              Applications
                          </a>
                          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="color:white;">
                              <i></i>
                              User Tutorials
                              <span class="caret"></span>
                          </a>

                          <ul class="collapse list-unstyled" id="pageSubmenu">

                              <li>
                                  <a href="https://aholdeman.github.io/test-site/sys-tutorial/getting-started" style="color:white;">Connecting to RC Systems</a>
                              </li>
                              <li>
                                  <a href="https://aholdeman.github.io/test-site/sys-tutorial/module" style="color:white;">Modules</a>
                              </li>
                              <li>
                                  <a href="https://aholdeman.github.io/test-site/sys-tutorial/slurm-scheduler" style="color:white;">Slurm Scheduler</a>
                              </li>
                          </ul>
                          <a href="#3pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="color:white;">
                              <i></i>
                              Software Tutorials
                              <span class="caret"></span>
                          </a>
                          <ul class="collapse list-unstyled" id="3pageSubmenu">
                              <li>
                                  <a href="https://aholdeman.github.io/test-site/tutorials/abaqus" style="color:white;">Abaqus</a>
                              </li>
                              <li>
                                  <a href="https://aholdeman.github.io/test-site/tutorials/amber" style="color:white;">Amber</a>
                              </li>
                              <li>
                                  <a href="https://aholdeman.github.io/test-site/tutorials/cuda" style="color:white;">CUDA</a>
                              </li>
                              <li>
                                  <a href="https://aholdeman.github.io/test-site/tutorials/matlab" style="color:white;">MATLAB</a>
                              </li>
                              <li>
                                  <a href="https://aholdeman.github.io/test-site/tutorials/open-mpi" style="color:white;">Open MPI</a>
                              </li>
                              <li>
                                  <a href="https://aholdeman.github.io/test-site/tutorials/python" style="color:white;">Python</a>
                              </li>
                              <li>
                                  <a href="https://aholdeman.github.io/test-site/tutorials/qe" style="color:white;">Quantum Espresso</a>
                              </li>
                              <li>
                                  <a href="https://aholdeman.github.io/test-site/tutorials/R" style="color:white;">R</a>
                              </li>
                          </ul>
                      </li>
                  </ul>

                  <ul class="list-unstyled CTAs">
                      <li>
                          <a href="https://sc.edu/about/offices_and_divisions/division_of_information_technology/rci/" class="download">
                              <div class="yes">More About RC</div></a>
                      </li>

                  </ul>
              </nav>

          </div>
          <div class="col col-md-9">

              {{ content }}
          </div>

    </div>
  </div>
  </body>

</html>